<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css"> <!-- [변경됨] -->
</head>
<body>
  <header>
    <h1>{{ site.title }}</h1>
    <nav>
      <a href="{{ site.baseurl }}/">Home</a> | <!-- [변경됨] -->
      <a href="{{ site.baseurl }}/about">About</a> <!-- [변경됨] -->
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>&copy; 2025 MR E</p>
  </footer>
</body>
</html>
